/* styles.css */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
}

.content{
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 500px;
    box-shadow: 0 1px 2px #0003;
    background-color: white;
    max-width: 350px;
    padding: 20px;
    border-radius: 10px
}

label {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    display: block;
}

.labelError {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.registrar {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}

.registrar strong {
    color: #007bff;
}

.registrar strong a {
    text-decoration: none;
    color: inherit;
}

.registrar strong a:hover {
    text-decoration: underline;
}
