/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

.card {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.card>div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -10px;
}

.card>div>div {
  flex-basis: 30%;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.card>div>div:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.card img {
  aspect-ratio: 1/1;
  max-width: 120px;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px;
}

.card h1 {
  font-size: 18px;
  margin-top: 0;
}

.card h2 {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.card span {
  font-size: 16px;
  font-weight: bold;
  color: #33b733;
}


@media (max-width: 768px) {
  .card>div>div {
    flex-basis: 45%;
  }
}

@media (max-width: 480px) {
  .card>div>div {
    flex-basis: 100%;
  }
}